body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:rgba(232, 232, 247, 0.925);
}

/* Global */
.container{
width: 80%;
margin: auto;
overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 25px;
    background: rgb(41, 143, 16);
}

.dark{
    padding: 15px;
    background: rgb(134, 14, 14);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    background: rgb(134, 12, 12);
    color: rgb(255, 251, 251);
    padding-top: 1%;
    min-height: 10%;
    border-bottom:rgb(26, 179, 26) 3px solid;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 30px 0 30px;
    
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 40px;
}

header .highlight, header .current a{
    color: rgb(110, 211, 9);
    font-weight: bold;
}

header a:hover{
    color: rgb(85, 145, 145);
    font-weight: bold;
}

/* showcase */
#showcase{
    min-height: 400px;
    background:url('../images/make\ up\ brushes.jpg') no-repeat 0 -400px;
    text-align: center;
    color: rgb(79, 182, 11);
    border-bottom:rgb(53, 168, 24) 3px solid;
}

#showcase h1{
margin-top: 100px;
font-size: 60px;
margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
    color: white;
}

/* newsletter */
#newsletter{
    padding: 15px;
    color: #ffff;
    background: rgb(134, 15, 15);
    border-bottom:rgb(60, 216, 60) 3px solid;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    padding: 5px;
    height: 20px;
    width: 250px;
}

/* boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}
/*sidebar*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#sidebar .Appointment input, aside#sidebar .Appointment textarea{
    width: 90%;
    padding: 5px;
}
/* main-col */
article#main-col{
    float: left;
    width: 60%;
}
/*Services*/
ul#Services li{
    list-style: none;
    padding:20px;
    border:rgb(134, 12, 12) solid 1px;
    margin-bottom:5px;
    background:rgb(182, 171, 171);
}


footer{
    border-top:rgb(25, 161, 25) 3px solid;
    padding: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    background-color: maroon;
   border-bottom:rgb(29, 163, 29) 3px solid;
}